@media screen and (max-width: 774px) {
    .container {
        padding: 0 30px;
    }

    .app__main__background {
        height: 1165px;
    }

    .header__wrapper {
        padding: 30px 0 60px;
    }

    .header__nav__item:not(:last-child) {
        margin-right: 35px;
    }

    .not__only__wrapper {
        min-height: 1015px;
        background-size: 81%;
    }

    .not__only__content {
        padding-top: 0;
        height: 322px;
        margin: 0 auto;
    }

    .not__only__button {
        margin: 0 auto;
    }

    .about__wrapper {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about__title {
        margin-bottom: 25px;
    }

    .about__description {
        margin-left: 0;
    }

    .our__friends__petscards__item:last-child {
        display: none;
    }

    .our__friends__petscards__items {
        gap: 40px;
    }

    .our__friends__petscards__item:not(:last-child) {
        margin-right: 0px;
    }

    .help__things {
        gap: 54px 60px;
    }

    .help__thing {
        width: 170px;
    }

    .in__addition {
        padding-bottom: 102px;
    }

    .in__addition__wrapper {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .footer__wrapper {
        height: 549px;
        padding-top: 30px;
        padding-bottom: 60px;
        background: url(../../assets/images/footer-puppy.png) bottom center no-repeat;
        display: flex;
        justify-content: center;
        gap: 60px;
    }
}

@media screen and (max-width: 320px) {
    .container {
        padding: 0 10px;
    }

    .app__main__background {
        height: 1165px;
    }

    .header__wrapper {
        padding: 30px 0 60px;
    }

    .header__nav__item:not(:last-child) {
        margin-right: 35px;
    }

    .not__only__wrapper {
        min-height: 1015px;
        background-size: 81%;
    }

    .not__only__content {
        padding-top: 0;
        height: 322px;
        margin: 0 auto;
    }

    .not__only__button {
        margin: 0 auto;
    }

    .about__wrapper {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about__title {
        margin-bottom: 25px;
    }

    .about__description {
        margin-left: 0;
    }

    .our__friends__petscards__item:last-child {
        display: none;
    }

    .our__friends__petscards__items {
        gap: 40px;
    }

    .our__friends__petscards__item:not(:last-child) {
        margin-right: 0px;
    }

    .help__things {
        gap: 54px 60px;
    }

    .help__thing {
        width: 170px;
    }

    .in__addition {
        padding-bottom: 102px;
    }

    .in__addition__wrapper {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .footer__wrapper {
        height: 549px;
        padding-top: 30px;
        padding-bottom: 60px;
        background: url(../../assets/images/footer-puppy.png) bottom center no-repeat;
        display: flex;
        justify-content: center;
        gap: 60px;
    }

}