@media screen and (max-width: 1279px) {

    .our__friends__petscards__item:last-child {
        display: none;
    }
    
    .our__friends__petscards__items {
        gap: 40px;
    }

    .our__friends__petscards__item:not(:last-child) {
        margin-right: 0px;
    }

    .our_friends__content {
        justify-content: center;
        gap: 40px;
    }
}

@media screen and (max-width: 1130px) {
    .not__only__wrapper {
        background-size: 50%;
    }

    .not__only__content {
        padding-top: 120px;
        max-width: 460px;
        height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .footer__wrapper {
        gap: 40px;
    }
}

@media screen and (max-width: 970px) {
    
    .in__addition {
        padding-bottom: 102px;
    }

    .in__addition__wrapper {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .footer__wrapper {
        height: 549px;
        padding-top: 30px;
        padding-bottom: 60px;
        background: url(../../assets/images/footer-puppy.png) bottom center no-repeat;
        display: flex;
        justify-content: center;
        gap: 60px;
    }
}

@media screen and (max-width: 900px) {
    .about__wrapper {
        flex-direction: column-reverse;
        gap: 80px;
    }

    .about__title {
        margin-bottom: 25px;
    }

    .about__description {
        margin-left: 0;
    }

    .our_friends__content {
        gap: 12px;
    }

    .help__things {
        gap: 54px 60px;
    }

    .help__thing {
        width: 170px;
    }
}

@media screen and (max-width: 774px) {
    .container {
        padding: 0 30px;
    }

    .app__main__background {
        height: 1165px;
    }

    .header__wrapper {
        padding: 30px 0 60px;
    }

    .header__nav__item:not(:last-child) {
        margin-right: 35px;
    }

    .not__only__wrapper {
        min-height: 1015px;
        background-size: 81%;
    }

    .not__only__content {
        padding-top: 0;
        height: 322px;
        margin: 0 auto;
    }

    .not__only__button {
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) {
    .header__logo.openMenu {
        position: absolute;
        left: 20%;
        z-index: 2;
    }

    .header__btn-burger {
        display: flex;
        margin-right: 43px;
    }

    .header__nav__items {
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        top: 0;
        z-index: 1;
        width: 84%;
        height:  350%;
        background: #292929;
        padding-top: 248px;
        transform: translateX(100%);
        visibility: hidden;
        overflow-x: hidden;
        transition: visibility 1s, transform 1s;
    }

    .openMenu {
        visibility: visible;
        transform: translateX(0);
        animation: slideOpen 1s ease-out;
    }

    @keyframes slideOpen {
        from {
            transform: translateX(100%);
        }
        to {
            transform: translateX(0);
        }
    }

    .header__nav__item a {
        font-size: 32px;
    }
    
    .header__nav__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .our_friends__content {
        margin: 42px 0;
        max-width: 320px;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px 80px;
    }

    .our_friends__content__btn {
        order: 1;
    }

    .our__friends__petscards__item:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 700px) {
    .not__only__wrapper {
        min-height: 900px;
    }

    .app__main__background {
        height: 1050px;
    }

    .footer__wrapper {
        height: 819px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 30px;
    }
    
    .footer__contacts,
    .footer__address {
        align-items: center;
        max-height: 268px;
    }

    .footer__contacts__title, .footer__address__title {
        text-align: center;
        line-height: 128%;
    }

    .footer__contacts__items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__address__items {
        list-style: none;
    }

    .footer__address__item:first-child {
        margin: 40px 0 39px 0;
    }

}

@media screen and (max-width: 326px) {

    .app__section {
        padding: 42px 0;
    }

    .section__title {
        font-size: 25px;
        text-align: center;
    }

    .container {
        padding: 0 10px;
    }

    .app__main__background {
        height: 823px;
    }

    .not__only__wrapper {
        min-height: 673px;
        background-size: 87%;
    }

    .not__only__content {
        height: 296px;
        align-items: center;
        text-align: center;
    }

    .not__only__title h2 {
        font-size: 25px;
        letter-spacing: 0.06em;
        max-width: 200px;
    }

    .about__wrapper {
        gap: 36px;
    }

    .about__title {
        margin:0 auto 25px;
        max-width: 250px;
    }

    .about__description {
        margin-left: 0;
    }

    .about__description p {
        text-align: justify;
        max-width: 272px;
    }

    .about__description p:not(:last-child) {
        margin-bottom: 22px;
    }

    .about__background img {
        width: 86.8%;
        padding: 0 20px;
    }

    .help__title {
        margin-bottom: 42px;
    }

    .help__things {
        gap: 30px 18px;
        justify-content: space-between;
    }

    .help__thing {
        width: 140px;
        height: 87px;
    }

    .help__thing__image img {
        width: 50px;
    }

    .help__thing__title {
        font-size: 15px;
    }

    .in__addition__wrapper {
        gap: 39px;
    }

    .in__addition__title {
        max-width: 220px;
        margin: 0 auto 22px;
    }

    .in__addition__card_information__subtitle {
        letter-spacing: 0em;
        text-align: center;
    }

    .in__addition__cart_information__number {
        margin: 23px 0 20px;
    }

    .in__addition__cart_information__number a {
        font-size: 15px;
        padding: 14px 15px 13px 60px;
        margin-left: 9px;
    }

    .in__addition__cart_information__supplement {
        text-align: justify;
        padding: 0 10px;
    }

    .in__addition__background {
        height: auto;
    }

    .in__addition__background img{
        width: 260px;
    }

    .footer__wrapper {
        height: 719px;
        gap: 40px;
        background-size: 87%;
    }

    .footer__contacts__title, 
    .footer__address__title {
        font-size: 25px;
        max-width: 240px;
    }

    .footer__contacts, .footer__address {
        max-height: 208px;
    }

    .footer__contacts__items {
        min-height: 104px;
    }

    .footer__address__items {
        min-height: 104px;
    }
}

@media screen and (max-width: 320px) {
    
    .header__nav__items {
        width: 100%;
    }
    
    .header__logo.openMenu {
        left: 5%;
    }

    .help__things {
        gap: 30px 14px;
    }
}