* {
    margin: 0;
    padding: 0;
}

html, 
body {
    height: 100%;
    scroll-behavior: smooth;
}

.app__shelter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}
