* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/GeorgiaFonts/Georgia.ttf);
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 3px 1px 2px;
    border-color: #462c00;
    background-color: #5B483A;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 4px 1px 2px;
    border-color: #BDAE82;
    background-color: #FDDCC4;
}

::-webkit-scrollbar-track:hover{
    border-left: transparent;
    background-color: rgb(255, 255, 255);
}

html, 
body {
    height: 100%;
    scroll-behavior: smooth;
}

.app__shelter {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
}

.container {
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.app__links {
    text-decoration: none;
    color: #000;
}

.app__btns {
    display: inline-block;
    text-align: center;
    padding: 15px 45px;
    border-radius: 100px;
    background: #F1CDB3;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.app__btns:hover {
    background: #FDDCC4;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.app__main__background {
    background: url(../../assets/images/app__hat_noise_transparent.png),radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    height: 908px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.header__wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo {
    width: 186px;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__logo .header__logo__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    letter-spacing: 0.06em;
}

.header__logo .header__logo__title a{
    display: inline-block;
    height: 60px;
    color: #F1CDB3;
}

.header__logo__subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding-left: 4px;
}

.header__nav__items {
    list-style: none;
    display: flex;
}

.header__nav__item a {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 3px 0;
}

.header__nav__item a:hover {
    color: #FAFAFA;
}

.header__nav__item:not(:last-child) {
    margin-right: 35px;
}

.header__nav__item a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.not__only__wrapper {
    min-height: 728px;
    background: url(../../assets/images/not__only__dog-image.png) bottom right no-repeat;
}

.not__only__content {
    padding-top: 163px;
    max-width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not__only__title {
    max-width: 310px;
}

.not__only__title h2{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
}

.not__only__description {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.about {
    padding: 80px 0 100px 0 ;
}

.about__wrapper {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.about__description {
    max-width: 430px;
    margin-left: 120px;
}

.about__title {
    max-width: 370px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 124%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-bottom: 25px;
}

.about__description p{
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__description p:not(:last-child) {
    margin-bottom: 25px;
}
