* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Georgia';
    src: url(../../assets/fonts/GeorgiaFonts/Georgia.ttf);
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 3px 1px 2px;
    border-color: #462c00;
    background-color: #5B483A;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 4px 1px 2px;
    border-color: #BDAE82;
    background-color: #d4b59e;
}

::-webkit-scrollbar-track:hover{
    border-left: transparent;
    background-color: rgb(255, 255, 255);
}

html, 
body {
    height: 100%;
    scroll-behavior: smooth;
}

.app__shelter {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 40px;
    margin: 0 auto;
    box-sizing: border-box;
}

.app__links {
    text-decoration: none;
    color: #000;
}

.app__btns {
    display: inline-block;
    text-align: center;
    padding: 15px 45px;
    border-radius: 100px;
    background: #F1CDB3;
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.app__btns:hover {
    background: #FDDCC4;
}

.app__section {
    padding: 80px 0 100px 0 ;
}

.section__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 129%;
    letter-spacing: 0.06em;
    color: #545454;
}

.header,
.footer {
    flex: 0 0 auto;
}

.main {
    flex: 1 0 auto;
}

.app__main__background {
    background: url(../../assets/images/app__hat_noise_transparent.png),radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    height: 908px;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.app__background__menu.active {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(41, 41, 41, 0.6);
}

.header__wrapper {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__logo {
    width: 186px;
}

.header__logo:hover {
    opacity: 0.8;
}

.header__logo .header__logo__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding-top: 4px;
}

.header__logo .header__logo__title a{
    display: inline-block;
    height: 60px;
    color: #F1CDB3;
}

.header__logo__subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #ffffff;
    padding-left: 4px;
}

.header__nav__items {
    list-style: none;
    display: flex;
}

.header__nav__item a {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    padding: 3px 0;
}

.header__nav__item a:hover {
    color: #FAFAFA;
}

.header__nav__item:not(:last-child) {
    margin-right: 36px;
}

.header__nav__item a.active {
    color: #FAFAFA;
    border-bottom: 3px solid #F1CDB3;
}

.header__btn-burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 22px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
    transition: 0.3s ease-in-out;
}

.btn__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #F1CDB3;
    z-index: 15;
}

.header__btn-burger:hover {
    opacity: 0.7;
}

.header__btn-burger.open {
    transform: rotate(-90deg);
}

.not__only__wrapper {
    min-height: 728px;
    background: url(../../assets/images/not__only__dog-image.png) bottom right no-repeat;
}

.not__only__content {
    padding-top: 163px;
    max-width: 460px;
    height: 322px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.not__only__title {
    max-width: 310px;
}

.not__only__title h2{
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #ffffff;
}

.not__only__description {
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
}

.about__wrapper {
    max-width: 850px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.about__title {
    max-width: 370px;
    margin-bottom: 26px;
}

.about__description {
    max-width: 430px;
    margin-left: 120px;
}

.about__background {
    max-height: 408px;
}

.about__description p{
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}

.about__description p:not(:last-child) {
    margin-bottom: 25px;
}

.our_friends {
    background: #F6F6F6;
}

.our_friends__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our_friends__title {
    max-width: 400px;
    text-align: center;
}

.our_friends__content {
    margin: 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.our_friends__content__btn button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 17px;
    border: 2px solid #F1CDB3;
    box-sizing: border-box;
    border-radius: 100px;
    cursor: pointer;
}

.our_friends__content__btn button:hover {
    border: 2px solid #FDDCC4;
    background: #FDDCC4;
}

.our__friends__petscards {
    overflow: hidden;
    /* position: relative; */
}

.our__friends__petscards__items {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 90px;
    max-width: 990px;
    position: relative;
    transition: 1s;
    left: -180px;
}

.our__friends__petscards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    cursor: pointer;
}

.our__friends__petscards__item:hover {
    background: #ffffff;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.our__friends__petscards__item__image {
    margin-bottom: 28px;
}

.our__friends__petscards__item__image img{
    min-height: 270px;
    border-radius: 9px 9px 0 0;
}

.our__friends__petscards__item__button {
    margin: 30px 0;
}

.our__friends__petscards__item__name {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0.06em;
    color: #545454;
}

.our__friends__petscards__item__button a {
    background: transparent;
    border: 2px solid #F1CDB3;
    padding: 13px 42px;
}

.our__friends__petscards__item:hover a {
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.help__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help__title {
    margin-bottom: 60px;
    text-align: center;
}

.help__things {
    max-width: 1032px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 54px 120px;
}

.help__thing {
    height: 113px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.help__thing__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
}

.in__addition {
    background: #F6F6F6;
    padding-bottom: 101px;
}

.in__addition__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.in__addition__background {
    height: 260px;
}

.in__addition__description {
    max-width: 380px;
}

.in__addition__title {
    max-width: 300px;
    margin-bottom: 20px;
}

.in__addition__card_information__subtitle {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
}

.in__addition__cart_information__number {
    margin: 20px 0;
}

.in__addition__cart_information__number a {
    display: inline-block;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    padding: 10px 15px 10px 60px;
    background: #F1CDB3;
    border-radius: 9px;
    background-image: url(../../assets/svg/in_addition-icon-credit-card.svg);
    background-repeat: no-repeat;
    background-position: 15px 10px;
}

.in__addition__cart_information__number a:hover {
    background-color: #FDDCC4;
}

.in__addition__cart_information__supplement {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
}

.footer {
    background: url(../../assets/images/app__hat_noise_transparent.png),radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrapper {
    height: 234px;
    padding-top: 56px;
    padding-bottom: 60px;
    background: url(../../assets/images/footer-puppy.png) bottom right no-repeat;
    display: flex;
    gap: 160px;
}

.footer__contacts {
    max-width: 280px;
}

.footer__contacts,
.footer__address {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.footer__contacts__title,
.footer__address__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer__contacts__items,
.footer__address__items {
    min-height: 104px;
    list-style: none;
}

.footer__contacts__item:first-child {
    margin: 40px 0;
}

.footer__contacts__item a,
.footer__address__item a{
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    display: flex;
    align-items: center;
    min-height: 32px;
}

.footer__contacts__item:hover,
.footer__address__item:hover {
    opacity: 0.8;
}

.footer__contacts__email {
    padding-left: 60px;
    background: url(../../assets/svg/footer_contacts_icon-email.svg) left center no-repeat;
}

.footer__contacts__phonenumber {
    padding-left: 60px;
    background: url(../../assets/svg/footer_contacts_icon-phone.svg) left center no-repeat;
}

.footer__address {
    max-width: 302px;
}

.footer__address__name {
    padding-left: 40px;
    background: url(../../assets/svg/footer_address_icon-marker.svg) left center no-repeat;
}

.footer__address__item:first-child {
    margin: 34px 0 32px 0;
}